{
  "swagger": "2.0",
  "info": {
    "description": "The CASTEL API",
    "title": "castel",
    "version": "v1"
  },
  "host": "castel.fixe:3000",
  "schemes": [
    "http"
  ],
  "basePath": "/",
  "paths": {
    "/": {
      "get": {
        "summary": "Home Page",
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/register": {
      "post": {
        "summary": "Create user account",
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "description": "Adresse email",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "description": "mot de passe",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "formData",
            "description": "username",
            "required": true,
            "type": "string"
          },
          {
            "name": "firstname",
            "in": "formData",
            "description": "Firstname",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastname",
            "in": "formData",
            "description": "Lastname",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A user object",
            "schema": {
              "$ref": "#/components/schemas/User"
            }
          },
          "400": {
            "description": "Username et/ou password non rempli",
            "schema": {
              "$ref": "#/components/schemas/Badreturn"
            }
          },
          "404": {
            "description": "Username and password don't match",
            "schema": {
              "$ref": "#/components/schemas/Badreturn"
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "summary": "Login to the system",
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "password",
            "in": "formData",
            "description": "mot de passe",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "formData",
            "description": "username",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A user object",
            "schema": {
              "$ref": "#/components/schemas/User"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/components/schemas/Badreturn"
            }
          },
          "401": {
            "description": "DB error return",
            "schema": {
              "$ref": "#/components/schemas/Badreturn"
            }
          },
          "404": {
            "description": "Username and password does not match",
            "schema": {
              "$ref": "#/components/schemas/Badreturn"
            }
          }
        }
      }
    },
    "/me": {
      "get": {
        "summary": "User information",
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "$ref": "#/components/schemas/User"
            }
          },
          "404": {
            "description": "No SESSION",
            "schema": {
              "$ref": "#/components/schemas/Badreturn"
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "User list",
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "summary": "User details",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user to return",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Badreturn": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The user ID."
          },
          "username": {
            "type": "string",
            "description": "The user name."
          },
          "email": {
            "type": "string",
            "description": "The user email."
          },
          "firstname": {
            "type": "string",
            "description": "The user name."
          },
          "lastname": {
            "type": "string",
            "description": "The user name."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The user name."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The user name."
          }
        }
      }
    }
  }
}